redirects: on
source https://www.nuget.org/api/v2/

nuget FAKE
nuget FSharp.Core
nuget FsUnit.xUnit
nuget Microsoft.Azure.DocumentDB
nuget Newtonsoft.Json 6.0.8
nuget Nuget.CommandLine
nuget xunit.runner.visualstudio
nuget xunit.runners 1.9.2

github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.StarterPack src/ProvidedTypes.fs